<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <!-- Enlazando Bootstrap (CSS) desde la carpeta static -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ToDo</a>
    </nav>

    <div class="container mt-5">
        <h1>Aplicación ToDo</h1>
        
        <div class="row mb-3">
            <div class="col">
                <h2>Cantidad de tareas: <span id="taskCount">0</span></h2>
            </div>
        </div>

        <!-- Fila para agregar nueva tarea -->
        <div class="row mb-3">
            <div class="col-9">
                <input type="text" class="form-control" id="tituloTarea" placeholder="Nueva tarea">
            </div>
            <div class="col-3">
                <button class="btn btn-success w-100" id="btnAgregar">+</button>
            </div>
        </div>

        <!-- Fila para los botones de filtro y eliminar -->
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-primary">Todos</button>
                <button class="btn btn-info">Pendientes</button>
                <button class="btn btn-secondary">Finalizadas</button>
                <button class="btn btn-danger">Eliminar Tareas Finalizadas</button>
            </div>
        </div>

        <!-- Fila para listar tareas -->
        <div class="row">
            <div class="col">
                <ul class="list-group" id="taskList">
                    <!-- Las tareas irán aquí -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Enlazando Bootstrap (JS) desde la carpeta static -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <script>
        class ToDo {
            constructor(titulo, terminada){
                this.titulo = titulo;
                this.terminada = terminada;
            }
        }

        window.onload = () => {

            cargarTareas();
            
            document.querySelector('#btnAgregar').addEventListener('click', () => {
                let tituloTarea = document.querySelector('#tituloTarea').value;
                if (tituloTarea.trim() === '') {
                    alert('La tarea no puede estar vacía');
                    return;
                }

                const listaTareas = document.querySelector('#taskList');
                const contadorTareas = document.querySelector('#taskCount');
                const nuevaTareaItem = document.createElement('li');
                nuevaTareaItem.className = 'list-group-item';
                nuevaTareaItem.innerHTML = `
                    <div class="d-flex justify-content-between">
                        <span>${tituloTarea}</span>
                        <div>
                            <button class="btn btn-success btn-sm">Finalizar</button>
                            <button class="btn btn-danger btn-sm">Eliminar</button>
                        </div>
                    </div>
                `;
                listaTareas.appendChild(nuevaTareaItem);
                contadorTareas.textContent = parseInt(taskCount.textContent) + 1;
                document.querySelector('#tituloTarea').value = '';
                
                const tarea = new ToDo(tituloTarea, false);

                guardarTarea(tarea);
            });
        }

        function cargarTareas() {
            // Utilizar fetch para obtener las tareas desde la ruta /tareas:
            fetch('/tareas')
            .then(response => response.json())
            .then(data => {
                data = data.tareas;
                const listaTareas = document.querySelector('#taskList');
                const contadorTareas = document.querySelector('#taskCount');
                contadorTareas.textContent = data.length;
                data.forEach(tarea => {
                    const nuevaTareaItem = document.createElement('li');
                    const btnFinalizar = `<button class="btn btn-success btn-sm" ${tarea.TareaTerminada == 1 ? 'disabled' : ''}>${tarea.TareaTerminada == 1 ? 'Finalizada' : 'Finalizar'}</button>`;

                    nuevaTareaItem.className = 'list-group-item';
                    nuevaTareaItem.innerHTML = `
                        <div class="d-flex justify-content-between">
                            <span>${tarea.Titulo}</span>
                            <div>
                                ${btnFinalizar}
                                <button class="btn btn-danger btn-sm">Eliminar</button>
                            </div>
                        </div>
                    `;
                    const botonEliminar = nuevaTareaItem.querySelector('.btn-danger');
                    botonEliminar.addEventListener('click', () => {
                        nuevaTareaItem.remove();
                        eliminarTareaPorId(tarea.ID);
                    });

                    const botonFinalizar = nuevaTareaItem.querySelector('.btn-success');
                    botonFinalizar.addEventListener('click', () => {
                        botonFinalizar.textContent = 'Finalizado';
                        botonFinalizar.disabled = true;

                        finalizarTarea(tarea.ID);
                    });


                    listaTareas.appendChild(nuevaTareaItem);
                });
            })
        }

        function guardarTarea(tarea) {
            let tareas = JSON.parse(localStorage.getItem('tareas')) || [];
            tareas.push(tarea);
            localStorage.setItem('tareas', JSON.stringify(tareas));

            // Enviar los datos a la ruta /guardar utilizando fetch:
            fetch('/guardar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(tarea)
            }).then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.log(error));
        }

        function eliminarTareaPorId(ID) {
            fetch(`/tareas/${ID}`, {
                method: 'DELETE'
            }).then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.log(error));
        }

        function finalizarTarea(ID) {
            fetch(`/tareas/${ID}`, {
                method: 'PUT'
            }).then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.log(error));
        }
    </script>
</body>

</html>
